<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="preload" as="image" href="/img/about-me.png">
</head>

<body id="about">
    <%- include('./partials/navigation') %>
    <div id="line"></div>

    <header>
        <h1 data-content="Roeland van Stee"><span>Roeland</span> van Stee</h1>
        <img src="/img/about-me.png" alt="roeland van stee">
    </header>

    <main class="project-info">
        <section>
            <h2>About Me</h2>
            <p>Hi I’m Roeland! I’m 21 years old, living in Amsterdam and have a passion for web development. </p>
            <p>I’m currently studying Communication & Multimedia Design (CMD) at the University of Applied Sciences in Amsterdam.</p>
            <p>In my spare time I like to spin some vinyl, play a game or do something else</p>
        </section>

        <section>
            <h2>My Skills</h2>
            <p>I am a frontend developer that also has great knowledge about Design and User Experience because of my CMD background.</p>
            <p>I have knowledge about semantic HTML, well written CSS and front/backend JS, but I like to learn more about development.</p>
            <p>That is why I am looking for a fun and educational internship within the frontend development field.</p>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>