<div>
    <p id="name-intro">Hi, Ik ben Roeland!</p>
    <h1 data-content="Frontend Developer">Frontend Developer</h1>
</div>

<div id="portrait-container">
    <img src="/img/myself.png" alt="Myself">
    <div class="floating"></div>
</div>

<a id="arrow" href="#project-title">
    <img src="/img/arrow.svg" alt="arrow to move down">
    <span id="sr-info">arrow to move down</span>
</a>