<nav id="main-nav">
    <a href="/">Roeland van Stee.</a>
    <div id="nav-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#project-title">Projects</a></li>
        <li><a href="/about">About me</a></li>
    </ul>
</nav>