<h2 id="project-title" data-content="Projects">Projects</h2>
<ul id="projects">
    <li>
        <a href="/empower">
            <img src="/img/overview/empower-s.png" alt="empower">
            <div>
                <p>Empower <img class="trophy-icon" src="/img/trophy.svg" alt="trophy icon"></p>
            </div>
        </a>
    </li>

    <li>
        <a href="/poker">
            <img src="/img/overview/poker-s.png" alt="poker app">
            <div>
                <p>Poker app</p>
            </div>
        </a>
    </li>

    <li>
        <a href="/css-menu">
            <img src="/img/overview/css-menu-s.png" alt="css menu">
            <div>
                <p>CSS Menu</p>
            </div>
        </a>
    </li>

    <li>
        <a href="/spacex">
            <img src="/img/overview/spacex-s.png" alt="spacex">
            <div>
                <p>SpaceX Launches</p>
            </div>
        </a>
    </li>

    <li>
        <a href="/posters">
            <img src="/img/overview/porsche-s.png" alt="porsche poster">
            <div>
                <p>Posters</p>
            </div>
        </a>
    </li>
</ul>